<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Línea 3.5</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/dgl5fbo.css">
    <link rel="stylesheet" href="https://use.typekit.net/dgl5fbo.css">2
</head>
<body>
    <main> 
        <h1>Línea 3.5</h1>
      <h2>La línea 7 del Metrobus y el privilegio de los vecinos de Las Lomas</h2>
      <p>Este proyecto se enfoca en criticar tanto las acciones de los vecinos como las del gobierno, utilizando entrevistas e investigación documental de noticias y artículos para visibilizar el problema de la desigualdad socioeconómica en México y comprender sus efectos reales en la movilidad. La Línea 7 del Metrobús fue concebida para atravesar Paseo de la Reforma y mejorar la conectividad entre el norte y el poniente de la ciudad. Sin embargo, la oposición vecinal, particularmente en Lomas de Chapultepec, y las decisiones del gobierno detuvieron el proyecto. Los vecinos protestaron bajo el argumento del ambientalismo y la conservación de los espacios de Reforma, priorizando la estética y comodidad de su colonia sobre las necesidades de transporte de millones de personas en la Ciudad de México.</p>